
name: ai_mobile_demo
description: A minimal Flutter app to demo an AI-powered mobile CI pipeline with ML integration.
publish_to: "none"

version: 1.1.0+2

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
